<div class="navbar navbar-default">
    <a href="">
        <h3>My Store</h3>
    </a>
    <div class="d-flex flex-row justify-content-between w-50">
        <a [routerLink]="['/']" routerLinkActive="router-link-active">HOME</a>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">LOGIN</a>
        <a [routerLink]="['/signup']" routerLinkActive="router-link-active">SIGNUP</a>
        <a [routerLink]="['/validLogin']" routerLinkActive="router-link-active">VALID-LOGIN</a>
    </div>
</div>